.footer {
  background: linear-gradient(#33333333, var(--primary-color), #333333);
}

.footer-logo-icon {
  height: 100px;
  width: 100px;
  margin: 50px auto;
  background-color: transparent;
}
.footer-logo-icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: transparent;
}

.footer-info {
  text-align: center;
  color: var(--text-color);
  background-color: transparent;
  margin-bottom: 20px;
}
.footer-info p {
  margin: 5px 0;
  background-color: transparent;
  padding: 10px;
}

.footer-links {
  text-align: center;
  margin-bottom: 20px;
  background-color: transparent;
}
.footer-links a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px;
  background-color: transparent;
}
.footer-links a:hover {
  color: var(--secondary-color);
}
