.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333333;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 200px;
  position: relative;
  font-family: var(--font-body);
}

.logo-icon {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 30px;
  left: 50px;
}
.logo-icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#menu {
  background: #333333;
  height: 50px;
  border-radius: 10px;
  width: 800px;
  margin: auto;
  position: relative;
}
#menu ul,
#menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#menu ul {
  width: 100%;
  text-align: center;
}
#menu li {
  display: inline-block;
  position: relative;
}
#menu a {
  display: block;
  line-height: 50px;
  padding: 0 14px;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
}
#menu a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
}
#menu li a:hover {
  color: #333333;
  background: #f5f5f5;
  border-radius: 5px;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 50px;
  text-align: center;
  position: absolute;
  left: 35px;
}
#menu label:before {
  font-size: 2.6em;
  color: #f5f5f5;
  content: "\2261";
  margin-left: 20px;
}
#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 180px;
  background: #565656;
  position: absolute;
  z-index: 99;
  display: none;
  border-radius: 8px;
}
#menu ul.sub-menus li {
  display: block;
  text-align: left;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #f5f5f5;
  font-size: 16px;
}
#menu li:hover ul.sub-menus {
  display: block;
}
#menu ul.sub-menus a:hover {
  background: #f5f5f5;
  color: #333333;
}

@media screen and (max-width: 800px) {
  #menu {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #menu ul {
    background: hsl(0, 92%, 37%);
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
    text-align: left;
  }
  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }
  #menu ul.sub-menus a {
    padding-left: 30px;
  }
  #menu li {
    display: block;
    float: none;
    width: auto;
  }
  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: #f5f5f5;
  }
  #menu input:checked + label:before {
    content: "\00d7";
  }
  #menu input:checked ~ ul {
    display: block;
  }
  .logo-icon {
    position: absolute;
    top: 10px;
    left: 110px;
    margin: auto;
    z-index: 5;
  }
}
