/* Home Slider Styles */
* {
  box-sizing: border-box;
  background-color: #333333;
  margin: 0;
}
.home-page {
  background-color: var(--background-color);
  min-height: 100vh;
}
.home-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #333333;
  display: flex;
  height: 400px;
}

.slide {
  min-width: 100%;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.slide-content {
  text-align: center;
  width: 100%;
}

.slide-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.slide h1 {
  font-size: 4.5rem;
  margin: 0 0 10px 0;
  color: var(--text-color);
  padding: 15px 21px;
  border-radius: 5px;
  background-color: transparent;
  font-family: var(--font-titles);
}

.slide-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(55, 55, 55, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  width: 700px;
  padding: 20px;
}

.slider-button {
  background-color: rgba(44, 44, 44, 0.5);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: transparent;
}

.slider-button:hover {
  background-color: #1f4e56;
  border: 2px solid #da9500;
  border-radius: 8px;
}
.slide p {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
  background-color: transparent;
  font-family: var(--font-titles);
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(2, 92, 65, 0.5);
  color: var(--secondary-color);
  border: none;
  padding: 15px 21px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  font-size: 18px;
}

.prev-button {
  left: 56px;
}

.next-button {
  right: 56px;
}

.next-button:hover,
.prev-button:hover {
  background-color: #1f4e56;
}
.image-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.img-container {
  margin: 0 10px;
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.intro-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f4e56;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  width: 20%;
  margin-left: 15px;
  height: 380px;
  border: 1px solid #da9500;
}

.intro-box:hover {
  border: 2px solid #da9500;
  scale: 1.02;
}

.intro-box h2 {
  margin-top: 0;
  color: var(--text-color);
  background-color: #1f4e56;
}
.intro-box p {
  color: var(--text-color);
  background-color: #1f4e56;
}

.learn-more-button {
  display: inline-block;
  margin-top: auto;
  padding: 10px 20px;
  background-color: #28666e;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #da9500;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.learn-more-button:hover {
  background-color: #1f4e56;
}

.text-container {
  height: 300px;
  background-color: #1f4e56;
}

.hr-divider-top {
  width: 80%;
  margin: 40px auto;
  border: 0;
  border-top: 2px solid var(--primary-color);
}
@media (max-width: 700px) {
  .home-slider {
    max-width: 100%;
    border-radius: 0;
  }
  .slide-image {
    max-height: 180px;
  }
  .slide-content {
    padding: 18px 4px 12px 4px;
  }
  .slide h1 {
    font-size: 1.3rem;
  }
  .image-intro {
    flex-direction: column;
  }
  .intro-box {
    width: 80%;
    height: 100%;
    margin: 20px 0 0 0;
  }
  .img-container {
    margin: 10px 0;
  }
  .text-container {
    height: auto;
  }
}
