.location-co {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  margin: 20px auto;
}

.location-co-text {
  width: 600px;
  color: var(--text-color);
  margin: 0;
}

.location-co-text h2 {
  font-family: var(--font-body);
  margin-top: 20px;
}

.location-co-text p {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  margin-top: 15px;
}

.location-co-text h1 {
  font-family: var(--font-titles);
  color: var(--text-color);
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 350px;
  padding: 10px;
  margin-left: 20px;
}
.left-container img {
  width: 350px;
  height: auto;
  border-radius: 10px;
}

.location-co-image {
  width: 100%;
  border: 1px solid var(--secondary-color);
}

.location-co-address {
  font-family: var(--font-body);
  font-size: 18px;
  margin-top: 15px;
  color: var(--secondary-color);
  text-align: left;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  width: 350px;
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: 16px;
}

.contact-info h2 {
  font-family: var(--font-titles);
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-align: center;
}

.contact-info a {
  color: var(--secondary-color);
  text-decoration: none;
}

.contact-info i {
  margin-right: 10px;
  color: var(--text-color);
}

.contact-info p {
  font-size: 16px;
}

.opening-hours {
  font-family: var(--font-body);
  font-size: 16px;
  margin-top: 10px;
  color: var(--text-color);
}

.opening-hours h2 {
  margin-bottom: 10px;
  font-family: var(--font-titles);
  color: var(--text-color);
  font-size: 1.8rem;
  text-align: center;
}

.opening-hours li {
  list-style: none;
  margin-bottom: 5px;
}

.location-co-map h2 {
  font-family: var(--font-titles);
  color: var(--text-color);
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.location-co-map iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
  margin: 20px auto;
}

.vertical-divider {
  width: 2px;
  height: 400px;
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  margin: 0 20px;
  border: none;
}

.denver-ul {
  font-family: var(--font-titles);
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.location-co-text li::marker {
  color: var(--secondary-color);
}

@media screen and (max-width: 900px) {
  .location-co {
    flex-direction: column-reverse;
  }

  .location-co-text {
    width: 90%;
  }

  .left-container img {
    width: 100%;
  }
  .left-container,
  .contact-info {
    width: 90%;
    margin: auto;
  }
  .contact-info h2 {
    margin-top: 20px;
  }
  .vertical-divider {
    display: none;
  }
  .iframe {
    margin: auto;
  }
}
