.rolfingworks-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
}

.rolfingworks-content h1 {
  font-family: var(--font-titles);
  color: var(--text-color);
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.rolfingworks-content p {
  font-family: var(--font-body);
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 15px;
}
.rolfingworks-page h2 {
  font-family: var(--font-titles);
  color: var(--text-color);
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

.rolfing-si-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.rolfing-si {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
}

.rolfing-si-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.rolfing-si-image {
  width: 350px;
}

.rolfing-si-text {
  width: 600px;
  font-family: var(--font-body);
  color: var(--text-color);
  font-size: 18px;
}

.equine-si {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
}
.equine-si-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.equine-si-image {
  width: 350px;
}
.equine-si-text {
  width: 600px;
  font-family: var(--font-body);
  color: var(--text-color);
  font-size: 18px;
}
.equine-si-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.rolfingworks-divider {
  width: 80%;
  margin: 40px auto;
  border: 0;
  border-top: 2px solid var(--secondary-color);
}

.why-choose-us {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.why-choose-us-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.why-choose-us-text {
  width: 600px;
  font-family: var(--font-body);
  color: var(--text-color);
  font-size: 18px;
}

.why-choose-us-text ul {
  list-style-type: disc;
  padding-left: 20px;
}

.why-choose-us-text li {
  margin-bottom: 10px;
  color: var(--text-color);
  font-family: var(--font-body);
  list-style: none;
}

.why-choose-us-text p {
  margin: 0;
  background-color: transparent;
  padding: 0;
  color: var(--secondary-color);
}

.why-choose-us-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.why-choose-us-image {
  width: 350px;
}

.take-the-first-step {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.take-the-first-step h2 {
  font-family: var(--font-titles);
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 15px;
}
.take-the-first-step p {
  font-family: var(--font-body);
  color: var(--text-color);
  font-size: 18px;
}

@media (max-width: 900px) {
  .rolfing-si-content,
  .equine-si-content {
    flex-direction: column;
  }

  .rolfing-si-image,
  .equine-si-image {
    width: 100%;
  }

  .rolfing-si-text,
  .equine-si-text {
    width: 100%;
  }

  .why-choose-us {
    flex-direction: column;
  }

  .why-choose-us-text {
    width: 100%;
  }
}
