:root {
  --primary-color: #1f4e56;
  --secondary-color: #da9500;
  --background-color: #333333;
  --text-color: #f5f5f5;
  --font-titles: "Playfair Display", serif;
  --font-body: "Lato", sans-serif;
}
